.background {
  width: 100vw;
  height: 100vh;
  background-color: plum;
}

.calculator {
  // width: 100%;
  max-width: 500px;
  min-width: 400px;
  max-height: 600px;
  min-height: 400px;
  border: solid;
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.showArea {
  width: 90%;
  height: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .calculation {
    opacity: 0.4;
  }

  input {
    width: 400px;
    height: 60px;
    text-align: right;
    // margin: auto;
    border-style: none;
    // border-radius: 5px;
    padding-left: 15px;
  }
}

.functionalButton {
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  button {
    width: 90px;
    height: 70px;
  }
}

.numberButton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;

  button {
    width: 150px;
    height: 70px;
  }
}

@media screen and (max-width: 1024px) {
  .calculator {
    background-color: aquamarine;
    width: 100%;
    height: 50%;
    overflow: auto;
  }

  .showArea {
    width: 100%;
    height: 50%;

    input {
      width: 90%;
      height: 70%;
    }
  }

  .functionalButton {
    button {
      width: 20%;
      height: 100%;
    }
  }

  .numberButton {
    button {
      width: 33%;
      height: 80%;
    }
  }
}

@media screen and (min-width: 1025px) {
  .calculator {
    background-color: brown;
  }
}
